<p class='country__name'>{{name}}</p>
<div class='country__wrapper'>
  <ul class='country__info'>
    <li><b>Capital: </b>{{capital}}</li>
    <li><b>Population: </b>{{population}}</li>
    <li>
      <ul class='country__langs'>
        <b>Languages: </b>
        {{#each languages}}
          <li>{{this.name}}</li>
        {{/each}}
      </ul>
    </li>
  </ul>
  <img src={{flag}} alt={{name}} class='country__flag' />
</div>